@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.container {
    margin-inline: auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

main,
footer {
    width: 50rem;
    margin-inline: auto;
}

footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    font-size: 1rem;
    margin-block: 4rem 2rem;
    opacity: 0;
    transition: opacity 1.5s;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.info p {
    margin-left: .6rem;
    font-size: .75rem;
}

footer h2 {
    font-size: 1rem;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    margin-top: .6rem;
    font-weight: 700;
}

.services {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.services ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.supports {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.supports ul {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.available {
    display: flex;
    flex-direction: column;
}

.available h2 {
    margin-bottom: .6rem;
}

.available img:nth-child(2) {
    margin-bottom: .2rem;
}

.phone-input {
    background-color: #EACBAC;
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.phone-input h2 {
    font-size: 1.2rem;
    text-align: left;
    width: 11.25rem;
}

.credintials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: fit-content;
    margin-inline: auto;
}

.credintials input {
    font-size: 1rem;
    background-color: #FFFFFF;
    color: #828282;
    height: 2.3rem;
    width: 11.25rem;
    border: none;
    border-radius: 1.25rem;
    padding-left: 1rem;
    outline: none;
}

.credintials input:last-child {
    text-align: center;
    padding: 0;
    margin-right: auto;
    width: 6rem;
    background-color: #CF9A72;
    color: white;
    cursor: pointer;
}

.phone-input img {
    margin-inline: auto;
}

.reservation {
    background-color: #EACBAC;
    border-radius: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 1rem 0 0 1rem;
}

.reservation img {
    margin-inline: auto;
}

.reservationField {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
}

.reservationField h2 {
    font-size: 1.2rem;
}

.reservationField p {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}

.reservationField input {
    text-align: center;
    padding: 0;
    margin-right: auto;
    height: 2.3rem;
    width: 6rem;
    background-color: #CF9A72;
    color: white;
    border-radius: 1.25rem;
    outline: none;
    border: none;
    margin-inline: auto;
    cursor: pointer;
    font-size: 1rem;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    box-shadow: rgb(201, 201, 201) 0 0 10px;
    padding-block: .7rem;
    position: fixed;
    top: 0;
    background-color: rgb(250, 250, 250);
    z-index: 10;
}

.temp_header {
    content: '';
    width: 100%;
    height: 5rem;
}

.nav_button {
    display: none;
    z-index: 3;
}

nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav ul a {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(31, 31, 31);
    transition:
        color .2s;
}

nav ul a:hover {
    color: #CF9A72;
}

.home {
    display: flex;
    margin-top: 4rem;
}


.home img {
    width: 50%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    gap: .7rem;
    margin-left: 1rem;
}

.welcome input[type="button"] {
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.5rem;
    margin-right: auto;
    background-color: #CF9A72;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
}

.journey h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.journey-pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-inline: auto;
}

.pic {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pic .context {
    margin-inline: auto;
    margin-top: .6rem;
}

.pic img {
    height: 8rem;
    object-fit: cover;
    margin-inline: auto;
}

.pic p {
    margin-top: .5rem;
}

.swiper h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.product {
    border-radius: 1rem;
    box-shadow: rgb(201, 201, 201) 0 0 10px;
    position: relative;
}

.pro_image {
    border-top-right-radius: 1rem;
    display: flex;
    background-color: #CF9A72;
    clip-path: circle(55% at 60% 30%);
    padding-block: .5rem 1rem;
}

.pro_image img {
    height: 8rem;
    margin: auto;
    transition: all .3s;
}

.pro_image img:hover {
    transform: translateY(-.5rem);
}

.product_info {
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.product .heart {
    width: 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 1rem;
    padding: 30px 6px 6px 30px;
    background-color: #CF9A72;
    clip-path: circle(70% at 100% 90%);
}

.swiper {
    width: 100%;
    height: 100%;
}

.pagination {
    margin-top: 3rem;
    --swiper-theme-color: #CF9A72;
}

.up {
    cursor: pointer;
    z-index: 11;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 4rem;
    margin-bottom: 4rem;
    padding: 1rem;
    clip-path: circle(33% at 50% 50%);
    background-color: #CF9A72;
    display: none;
}

.up img {
    width: 1rem;
}

@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    header {
        justify-content: space-between;
        padding-block: .4rem;
    }

    .nav_button {
        display: block;
        margin-right: 2rem;
    }

    .nav_button img {
        width: 1.3rem;
    }

    main,
    footer {
        width: 90%;
    }

    .home {
        flex-direction: column;
        align-items: center;
    }

    .home img {
        width: 80%;
    }

    .welcome {
        width: 80%;
        text-align: center;
    }

    .welcome input[type="button"] {
        margin-right: 0;
        margin-inline: auto;
    }

    .journey-pics {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .reservation {
        grid-template-columns: 1fr;
        gap: 3rem;
        width: 90%;
        margin-inline: auto;
    }

    .reservationField {
        text-align: center;
    }

    .phone-input {
        grid-template-columns: 1fr;
        gap: 3rem;
        width: 90%;
        margin-inline: auto;
        padding-top: 1rem;
    }

    .credintials h2 {
        text-align: center;
    }

    .credintials input:last-child {
        margin: 0;
        margin-inline: auto;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    .info,
    .services,
    .supports,
    .available,
    .services ul,
    .supports ul {
        align-items: center;
    }

    nav {
        z-index: 2;
        box-shadow: rgb(201, 201, 201) 0 0 10px;
        background-color: rgb(250, 250, 250);
        position: fixed;
        top: 0;
        width: 100%;
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        transition:
            max-height .25s linear,
            visibility .25s linear;
        border-bottom-right-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }

    nav ul {
        flex-direction: column;
        width: fit-content;
        margin-block: 3rem 2rem;
        margin-inline: auto;
        text-align: center;
    }

    .enableNav {
        max-height: 240px;
        visibility: visible;
    }
    .pro_image {
        clip-path: circle(57% at 60% 27%);
    }
    
    .up {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }

    .credintials img,
    .phone-input img {
        width: 90%;
    }

    .journey-pics {
        gap: 0;
    }
    .pro_image {
        clip-path: circle(60% at 60% 25%);
    }
}